html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.top{
    height: 950px;
}
ul li:hover{
	background-color: rgba(255, 255, 255, 0.10);
    border-radius: 25px;
    transition: all 0.4s ease 0s;
    border: transparent;
	display: block;
	height: 20px;
}
.features{
	margin-top: -80px;
}
.features a{
	text-decoration: none;
}
.features .container{
	margin-left: 90px;
	margin-right: 90px;
}
.features .row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}
.features .item{
	padding: 35px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	text-align: center;
	border-radius: 25px;
	background-color: white;
}
.features .item h4 {
	font-size: 17px;
  margin-top: 25px;
  text-transform: uppercase;
  color: black;
}
.features .item .image{
	width: 90px;
  height: 90px;
  display: inline-block;
  text-align: center;
  line-height: 90px;
  background-color: #0071f8;
  border-radius: 50%;
  transition: all .3s;

}
.features .item img {
	vertical-align: middle;
}
.features .item:hover .image {
	background-color:#ee626b ;
}

.row_2 .item{
	background-color: #eeee;
	border-radius: 25px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.row_2 .item .thumb{
	position: relative;
	border-radius: 25px;
	overflow: hidden;
}
.row_2 .item .thumb img{
	width: 100%;
	border-radius: 25px;
}
.row_2 .item span.price{
	text-align: right;
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 25px;
	background-color: #0071f8;
	font-size: larger;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	padding: 8px 15px 6px 15px;
}
.row_2 .item span.price em{
	font-style: normal;
	font-weight: 400;
	font-size: large;
	text-decoration:line-through;
	display: block;
}
.row_2 .item .down-content{
	padding: 25px;

}
.row_2 .item .down-content span.category {
	font-size: large;
	color: #7a7a7a;
	margin-bottom: 5px;
	display: inline-block;
}

.row_2 .item .down-content h4{
	font-size: larger;
	font-weight: 600;
	transition: all .3s;
}

.row_2 .item .down-content a{
	position: absolute;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
	background-color:#ee626b;
	color: white;
	border-radius: 50%;
	right: 25px;
	bottom: 25px;
}
.row_2 .item:hover .down-content h4{
	color: #0071f8;
}

.row_2 .item:hover .down-content a{
	background-color: plum;
}
footer{
	margin-top: 150px;
	background-color: #0071f8;
	background-size: cover;
	min-height: 150px;
	border-radius: 150px 150px 0px 0px;
}

footer p{
	text-align: center;
	color: white;
	font-size: large;
	font-family: sans-serif;
    font-weight: 200;
	line-height: 90px;
}




 